section .card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 3rem;
  justify-content: center;
}

.title {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 30px;
}

.title h1 {
  margin: 0;
  font-weight: 500;
}
