section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  padding: 20px 30px;
}

section .card {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.title {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 30px;
}
