section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  padding: 20px 30px;
}

.image img {
  width: 100%;
  max-width: 400px;
}

/* --------------  MEDIA QUERIES ----------------  */
@media (max-width: 751px) {
}
